@import "../../styles/sass/abstracts/variables";

.CartItem {
    border-bottom: 1px solid black;
    margin-bottom: $margin-small;
    padding-bottom: $padding-small;
}

.CartItemSection1 {
    display: flex;
    justify-content: space-between;
}

.CartQuantitySection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CartItemDetails {
    text-align: end;
}

.Quantity {
    height: 3rem;
    display: flex;
    margin-top: $margin-small;
    margin-right: $margin-medium;
}

.QuantityButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: .5px solid grey;
    width: 3.5rem;
    height: 100%;
    cursor: pointer;
}

.QuantityInput {
    height: 100%;
    width: 6rem;
    border-top: .5px solid grey;
    border-bottom: .5px solid grey;
    border-left: none;
    border-right: none;
    text-align: center;
}

.removeItem {
    margin-top: $margin-small;
}

.removeItem:hover {
    text-decoration: underline;
    cursor: pointer;
}