@import "../../styles/sass/abstracts/variables";

.cartIcon {
    font-size: $font-size-medium;
    color: black;
}

.CartHeading {
    text-align: center;
    margin-bottom: $margin-small;
}

@media (max-width: 40rem) {
    .CartModal {
        width: 90%;
    }
}