@import "../../styles/sass/abstracts/variables";

.Product {
    display: flex;
    min-height: 40rem;
    margin-bottom: $margin-large;
}

.ProductSection1 {
    width: 50%;
    min-width: 60rem;
    display: flex;
    justify-content: space-between;
}

.ProductImage {
    width: 80%;
    object-fit: contain;
}

.ProductImageSelector {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: $margin-small
}

.ProductSection2 {
    width: 50%;
    padding-left: $padding-xxlarge;
    display: flex;
    flex-direction: column;
}

.ProductTitle {
    margin-bottom: $margin-small;
}

.ProductPrice {
    margin-bottom: $margin-medium;
}

.ProductForm {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.ProductForm > div {
    margin-bottom: $margin-small;
}

.ProductForm div label {
    text-transform: uppercase;
}

.ProductForm select {
    width: 90%;
    padding: $padding-small 0;
    margin-top: $margin-small;
    cursor: pointer;
}

.Quantity {
    height: 3.5rem;
    display: flex;
    margin-top: $margin-small;
}

.QuantityButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: .5px solid grey;
    width: 3.5rem;
    height: 100%;
    cursor: pointer;
}

.QuantityInput {
    height: 100%;
    width: 6rem;
    border-top: .5px solid grey;
    border-bottom: .5px solid grey;
    border-left: none;
    border-right: none;
    text-align: center;
}

.formSubmitButton {
    margin-top: $margin-medium;
}