.Product {
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

.ProductImage {
    width: 40rem;
}

.ProductSection2 {
    background-color: palegoldenrod;
    width: 50%;
}