@import "../../styles/sass/abstracts/variables";

.Footer {
    padding: $padding-medium 7rem;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
}

.Footer h3 {
    font-size: $font-size-medium;
    margin-bottom: $margin-small;
    font-weight: 100;
}

.Footer div:not(:last-child) {
    font-size: $font-size-default;
    margin-bottom: $margin-small;
}

.FooterLink:hover {
    text-decoration: underline;
}

@media (max-width: 40rem) {
    .Footer {
        padding: $padding-medium;
        flex-direction: column;
        font-size: $font-size-default;
        
        & h3 {
            font-size: $font-size-default;
        }
    }
    
    .FooterSection:not(:nth-of-type(3)) {
        margin-bottom: $margin-medium;
    }
}