@import "../../styles/sass/abstracts/variables";

.Layout {
    max-width: 145rem;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.content {
    margin: auto;
    width: 90%;
    flex: 1 0 auto;
}

@media (max-width: 60rem) {
    .content {
        width: 100%;
        margin: 0;
    }
}