@import "../../styles/sass/abstracts/variables";

.Layout {
    max-width: 145rem;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.content {
    margin: auto;
    width: 90%;
    flex: 1 0 auto;
}