@import "../../styles/sass/abstracts/variables";

.Navbar {
    font-size: $font-size-medium;
    padding: $padding-small $padding-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.smallerNavbar {
    font-size: $font-size-medium;
    padding: $padding-xsmall;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 10px 25px -19px rgba(0,0,0,0.75);
}

.brand {
    font-size: $font-size-xlarge;
    font-family: 'Bruno Ace SC', cursive;
    text-decoration: none;
    color: black;
}

.cartIcon {
    font-size: $font-size-medium;
}

@media (max-width: 40rem) {
    .Navbar {
        padding: $padding-small;
    }

    .smallerNavbar {
        padding: $padding-small;
    }
    
    .brand {
        font-size: $font-size-default;
    }
}