@import "../../styles/sass/abstracts/variables";

.navDrawerHeading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navDrawerTitle {
    display: inline-block;
    font-size: $font-size-large;
    margin: $margin-small;
}

.NavDrawerListItem {
    font-size: $font-size-default;
    padding-left: $padding-medium;
}

.navDrawerButton {
    font-size: $font-size-medium;
    color: black;
}

@media (max-width: 60rem) {
    .NavDrawerListItem {
        font-size: $font-size-default;
        padding-left: $padding-small;
    }
}