@import "../../../styles/sass/abstracts/variables";

.Button1 {
    font-size: $font-size-default;
    color: black;
    padding: $padding-medium $padding-xlarge;
    background-color: transparent;
    border: 1px solid black;
    transition: .2s all;
}

.Button1:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transform: translateY(-.5rem)
}