@import "../../styles/sass/abstracts/variables";

.SneakerTile {
    font-size: 2rem;
    text-align: center;
    transition: all .2s;
}

.SneakerTile:hover {
    cursor: pointer;
    opacity: .8;
}

.SneakerTileImage {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
}