@import "../../styles/sass/abstracts/variables";

.SneakerContainer {
    margin-bottom: $margin-xlarge;
}

.SneakerContainerTitle {
    margin-bottom: $margin-medium;
    padding-bottom: $margin-small;
    border-bottom: 1px solid rgb(147, 147, 147);
    font-weight: normal;
}

.SneakerGrid {
    // background-color: orange;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem; 
    justify-items: center;
}

@media (max-width: 60rem) {
    .SneakerContainer {
        width: 95%;
        margin: 0 auto $margin-large;
    }

    .SneakerContainerTitle {
        font-size: $font-size-medium;
    }

    .SneakerGrid {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }

    .SneakerContainerTitle {
        margin-left: $margin-small;
        margin-right: $margin-small;
    }
}