@import "../../styles/sass/abstracts/variables";

.SneakerContainer {
    margin-bottom: 5rem;
}

.SneakerContainerTitle {
    margin-bottom: $margin-bottom-medium;
    padding-bottom: $margin-bottom-small;
    border-bottom: 1px solid rgb(147, 147, 147);
}

.SneakerGrid {
    // background-color: orange;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 3rem; 
    justify-items: center;
}