//font-size
$font-size-default: 1.6rem;
$font-size-small: 1.2rem;
$font-size-medium: 2.5rem;
$font-size-large: 3.5rem;
$font-size-xlarge: 4.5rem;
$font-size-xxlarge: 5.5rem;

//margin
$margin-small: 1rem;
$margin-medium: 2rem;
$margin-large: 3.5rem;
$margin-xlarge: 5rem;
$margin-xxlarge: 6rem;

//padding
$padding-xsmall: .5rem;
$padding-small: 1rem;
$padding-medium: 2rem;
$padding-large: 3.5rem;
$padding-xlarge: 5rem;
$padding-xxlarge: 6rem;